.frhsk14{
    padding-top: 0%;
}
.frtbsk14{
    /* margin-left: 8%; */
    width: 100%;
}
.frontpage-mainsk14{
    width: 93%;
    margin-left: 7%;
}
.heading6789{
    padding-left: 26%;
}
.tr-class-bg{
    background-color: rgb(29, 93, 177);
    border-style: none;
}